<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AMApplicationBuild</key>
    <string>421</string>
    <key>AMApplicationVersion</key>
    <string>2.10</string>
    <key>AMDocumentVersion</key>
    <integer>2</integer>
    <key>AMType</key>
    <string>Service</string>
    <key>actions</key>
    <array>
        <dict>
            <key>actionUUID</key>
            <string>RUNSHELLSCRIPTUUID</string>
            <key>actionType</key>
            <string>com.apple.cocoa.shell-script</string>
            <key>parameters</key>
            <dict>
                <key>input</key>
                <string>as arguments</string>
                <key>script</key>
                <string>for f in "$@"
do
  if [[ "${f##*.}" == "mp4" || "${f##*.}" == "MP4" ]]; then
    dir=$(dirname "$f")
    base=$(basename "$f")
    temp="${dir}/.tmp_${base}"

    /opt/homebrew/bin/ffmpeg -y -i "$f" -c copy -tag:v hvc1 "$temp"
    if [ $? -eq 0 ]; then
      mv "$temp" "$f"
    else
      [ -f "$temp" ] &amp;&amp; rm "$temp"
    fi
  fi
done
</string>
                <key>shell</key>
                <string>/bin/bash</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
